.header {
  display: inline-block;
  text-align: center;
  border: 2px solid red;
  margin-bottom: 1px;
}

.logo_header {
  display: inline-flex;
}

.nav_bar {
  border: 2px solid green;
  width: 100%;
}

.nav_link {
  display: inline-block;
  padding: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  flex: 1 1 160px;
  width: 350px;
  padding-left: 15px;
  padding-right: 15px;
  list-style-type: none;
}

.article_page_main_info {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-shrink: 1;
}

.article_side_by_side {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  flex: 1;
  max-width: 50%;
}

.main_article_image {
  max-width: 100%;
}

.article_body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.article_page_title {
  word-wrap: normal;
}

.article_info {
  font-size: 1em;
}
