.header {
  display: inline-block;
  text-align: center;
  border: 2px solid red;
  margin-bottom: 1px;
}

.logo_header {
  display: inline-flex;
}

.nav_bar {
  border: 2px solid green;
  width: 100%;
}

.nav_link {
  display: inline-block;
  padding: 20px;
}

.articles_list {
  display: flex;
  flex-wrap: wrap;
}

.article_card {
  flex: 1 1 160px;
  width: 350px;
  padding-left: 15px;
  padding-right: 15px;
  list-style-type: none;
}

.article_page_main_info {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-shrink: 1;
}

.article_side_by_side {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  flex: 1;
  max-width: 50%;
}

.main_article_image {
  max-width: 100%;
}

.article_body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.article_page_title {
  word-wrap: normal;
}

.article_info {
  font-size: 1em;
}

.comment_list_item {
  list-style-type: none;
  border: 2px solid black;
  background-color: rgba(82, 179, 179, 0.6);
  margin-right: 40px;
  margin-bottom: 3px;
  border-radius: 6%;
}

.show_hide_comments {
  background-image: linear-gradient(-180deg, #37aee2 0%, #1e96c8 100%);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.show_hide_comments:hover {
  background-image: linear-gradient(-180deg, #1d95c9 0%, #17759c 100%);
}
