.header {
  display: inline-block;
  text-align: center;
  border: 2px solid red;
  margin-bottom: 1px;
}

.logo_header {
  display: inline-flex;
}

.nav_bar {
  border: 2px solid green;
}

.nav_link {
  display: inline-block;
  padding: 20px;
}
